@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

// font-family: 'Alfa Slab One', cursive;
// font-family: 'Bebas Neue', cursive;
// font-family: 'Montserrat', sans-serif;

* {
  box-sizing: border-box;
}
body {
}
.header-section {
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 3fr 1fr;
}

.logo {
  margin-left: 50px;
  margin-top: 30px;
  grid-area: 1 / 1 / 1 / 1;
}
.delivery {
  grid-area: 1 / 2 / 1 / 2;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  .moped_number {
  }
  img {
  }
}
.background {
  background-image: url(images/bg.png);
  height: 700px;
  width: 100vw;
  position: absolute;
  z-index: -100;
}
nav {
  justify-self: flex-end;
  font-family: "Bebas Neue", cursive;

  grid-area: 2 / 1 / 2 / span 2;

  a {
    text-decoration: none;
    color: #3d2514;
    font-size: 21px;
    letter-spacing: 6px;
    margin: 0 30px;
  }
}

.header-text {
  grid-area: hd-text;
  margin-top: 150px;
  margin-left: 60px;
}

.header-img {
  img {
    width: 100%;
  }
}

main {
  display: grid;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
}

.block1 {
  display: grid;
  height: 561px;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  grid-template-rows: 1fr;
  //   grid-auto-flow: row;
  margin: 0 auto;
  max-width: 1400px;

  .block1_right_side {
  }
}
.block1_left_side {
  position: relative;
  top: 170px;
  left: 50px;
  max-width: 420px;
  height: 250px;
  img {
    width: 100%;
  }
}
.block1_text1 {
  color: #3d2514;
  font-family: "Bebas Neue", cursive;
  border: 2px dashed #3d2514;
  font-size: 24px;
  display: inline-block;
  padding: 15px 20px;
  border-radius: 5px;
  left: 60px;
}
.burger {
  font-size: 114px;
  color: #3d2514;
  display: inline-block;
  left: 60px;
  font-family: "Alfa Slab One", cursive;
}
.week {
  font-size: 56px;
  display: inline-block;
  left: 60px;
  color: #3d2514;
  font-family: "Alfa Slab One", cursive;
}
.burger_image1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: span 2;
  display: grid;
  place-items: center;
}
.burger_image2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  display: grid;
  place-items: center;
  margin-bottom: -75px;
}
.burger_image3 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  display: grid;
  place-items: center;
  margin-top: -75px;
}
.block2 {
  display: grid;
  //   grid-template-columns: 1fr 1fr;
  //   grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 50px;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  height: 550px;
  // width: 100%;
}
.always {
  grid-area: 1 / 2 / 1 / 2;
  // grid-column-start: 2;
  // grid-column-end: 2;
  // grid-row-start: 1;
  // grid-row-end: 1;
  display: grid;
  place-items: center;
}
.block3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80fr 180fr 645fr;
  justify-content: center;
  //   height: 900px;

  position: relative;

  button {
    color: #3d2514;
    background-color: #ffc045;
    border: none;
    width: 220px;
    height: 50px;
  }
  .order_now {
    width: 200px;
    height: 60px;
    color: white;
    background-color: #bf2222;
    border: none;
  }

  .burger_1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    display: grid;
    place-items: center;
    text-align: center;
  }
}

.burer_name {
  color: #3d2514;
  font-family: "Bebas Neue", cursive;
  font-size: 37px;
  margin: 35px 0px;
}
.burger_text {
  color: #3d2514;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  margin: 0px 30px 30px 30px;
}

.choose {
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 2;
  grid-row-end: 2;
  display: grid;
  place-items: center;
  text-align: center;
  padding-left: 180px;
  padding-right: 180px;

  line-height: 2;
}
.choose_enjoy {
  font-family: "Alfa Slab One", cursive;
  font-size: 50px;
  color: #3d2514;
}
.choose_text {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  color: #3d2514;
}

.burger_2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  display: grid;
  place-items: center;
  text-align: center;
  img {
    width: 342px;
    height: 271px;
  }
}
.burger_3 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  display: grid;
  place-items: center;
  text-align: center;
}

// @media (max-width: 564px) {
//   .container {
//     width: 100%;
//     margin: auto;
//   }
// }
// @media (min-width: 290px) and (max-width: 373) {
//   .container {
//     width: 290px;
//     margin: auto;
//   }
//   .logo {
//     scale: 90%;
//   }
//   nav {
//     display: none;
//   }
//   .header {
//     grid-template-columns: 1fr 1fr;
//     grid-template-rows: 1fr 1fr;

//     margin-left: -10px;
//   }
//   .delivery {
//     margin-top: 20px;
//     grid-area: 2 / 1 / 2 / 1;
//   }
//   .block1 {
//   }
//   .burger_text {
//     width: 290px;
//   }
//   .block1_left_side {
//     position: relative;
//     left: -100px;
//     top: -10px;
//     scale: 50%;
//   }
//   .block1_right_side {
//     position: relative;
//     scale: 52%;
//     left: -160px;
//     bottom: 210px;
//   }
//   .background {
//     height: 600px;
//   }
//   .block2 {
//     grid-template-columns: 1fr;
//     grid-template-rows: 2fr 1fr 1fr;
//     height: 100%;
//     margin-top: -270px;
//     grid-gap: 1px;
//     scale: 50%;
//   }
//   .burger_image1 {
//     // row start / column start / row end / column end
//     grid-area: 1 / 1 / 1 / 1;
//   }
//   .burger_image2 {
//     grid-area: 2 / 1 / 2 / 1;
//     margin: 20px 0px 20px 0px;
//   }
//   .burger_image3 {
//     grid-area: 3 / 1 / 3 / 1;
//     margin: 0;
//   }
//   .block3 {
//     margin-top: -650px;
//     grid-template-columns: 1fr;
//     grid-template-rows: 0.1fr 0.1fr 1fr 1fr 1fr;
//     scale: 70%;
//   }
//   .choose_enjoy {
//     font-size: 40px;
//   }
//   .always {
//     grid-area: 1 / 1 / 1 / 1;
//   }
//   .choose {
//     grid-area: 2 / 1 / 2 / 1;
//   }
//   .burger_1 {
//     grid-area: 3 / 1 / 3 / 1;
//     margin: 30px;
//   }
//   .burger_2 {
//     grid-area: 4 / 1 / 4 / 1;
//     margin: 30px;
//   }
//   .burger_3 {
//     grid-area: 5 / 1 / 5 / 1;
//     margin: 30px;
//   }
// }
@media (min-width: 290px) and (max-width: 374px) {
  * {
  }
  .container {
    width: 290px;
    margin: auto;
  }
  .logo {
    scale: 90%;
  }
  nav {
    display: none;
  }
  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    scale: 90%;
    margin-left: -10px;
  }
  .delivery {
    margin-top: 20px;
    grid-area: 2 / 1 / 2 / 1;
  }
  .block1 {
    scale: 97%;
  }
  .burger_text {
    width: 290px;
  }
  .block1_left_side {
    position: relative;
    left: -100px;
    top: -10px;
    scale: 50%;
  }
  .block1_right_side {
    position: relative;
    scale: 52%;
    left: -160px;
    bottom: 210px;
  }
  .background {
    height: 600px;
  }
  .block2 {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    height: 100%;
    margin-top: -270px;
    grid-gap: 1px;
    scale: 45%;
  }
  .burger_image1 {
    // row start / column start / row end / column end
    grid-area: 1 / 1 / 1 / 1;
  }
  .burger_image2 {
    grid-area: 2 / 1 / 2 / 1;
    margin: 20px 0px 20px 0px;
  }
  .burger_image3 {
    grid-area: 3 / 1 / 3 / 1;
    margin: 0;
  }
  .block3 {
    margin-top: -900px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr 1fr 1fr;
    scale: 49%;
    margin-bottom: -550px;
  }
  .choose_enjoy {
    font-size: 40px;
  }
  .always {
    grid-area: 1 / 1 / 1 / 1;
  }
  .choose {
    grid-area: 2 / 1 / 2 / 1;
  }
  .burger_1 {
    grid-area: 3 / 1 / 3 / 1;
    margin: 30px;
  }
  .burger_2 {
    grid-area: 4 / 1 / 4 / 1;
    margin: 30px;
  }
  .burger_3 {
    grid-area: 5 / 1 / 5 / 1;
    margin: 30px;
  }
}
@media (min-width: 374px) and (max-width: 564px) {
  .container {
    width: 290px;
    margin: auto;
  }
  .logo {
    scale: 90%;
  }
  nav {
    display: none;
  }
  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    margin-left: -10px;
  }
  .delivery {
    margin-top: 20px;
    grid-area: 2 / 1 / 2 / 1;
  }
  .block1 {
  }
  .burger_text {
    width: 290px;
  }
  .block1_left_side {
    position: relative;
    left: -100px;
    top: -10px;
    scale: 50%;
  }
  .block1_right_side {
    position: relative;
    scale: 52%;
    left: -160px;
    bottom: 210px;
  }
  .background {
    height: 600px;
  }
  .block2 {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    height: 100%;
    margin-top: -270px;
    grid-gap: 1px;
    scale: 50%;
  }
  .burger_image1 {
    // row start / column start / row end / column end
    grid-area: 1 / 1 / 1 / 1;
  }
  .burger_image2 {
    grid-area: 2 / 1 / 2 / 1;
    margin: 20px 0px 20px 0px;
  }
  .burger_image3 {
    grid-area: 3 / 1 / 3 / 1;
    margin: 0;
  }
  .block3 {
    margin-top: -650px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr 1fr 1fr;
    scale: 70%;
  }
  .choose_enjoy {
    font-size: 40px;
  }
  .always {
    grid-area: 1 / 1 / 1 / 1;
  }
  .choose {
    grid-area: 2 / 1 / 2 / 1;
  }
  .burger_1 {
    grid-area: 3 / 1 / 3 / 1;
    margin: 30px;
  }
  .burger_2 {
    grid-area: 4 / 1 / 4 / 1;
    margin: 30px;
  }
  .burger_3 {
    grid-area: 5 / 1 / 5 / 1;
    margin: 30px;
  }
}

@media (min-width: 564px) and (max-width: 768px) {
  .container {
    width: 564px;
    margin: auto;
  }
  nav {
    display: none;
  }
  .delivery {
    position: relative;
    left: -70px;
  }
  .block1_left_side {
    position: relative;
    top: -10px;
    left: -20px;
  }
  .block1_right_side {
    position: relative;
    scale: 80%;
    bottom: 100px;
  }
  .block2 {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    height: 100%;
    margin-top: 50px;
    grid-gap: 1px;
  }
  .burger_image1 {
    // row start / column start / row end / column end
    grid-area: 1 / 1 / 1 / 1;
  }
  .burger_image2 {
    grid-area: 2 / 1 / 2 / 1;
    margin: 0;
  }
  .burger_image3 {
    grid-area: 3 / 1 / 3 / 1;
    margin: 0;
  }
  .block3 {
    margin-top: 70px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr;
  }
  .always {
    grid-area: 1 / 1 / 1 / 1;
  }
  .choose {
    grid-area: 2 / 1 / 2 / 1;
  }
  .burger_1 {
    grid-area: 3 / 1 / 3 / 1;
    margin: 30px;
  }
  .burger_2 {
    grid-area: 4 / 1 / 4 / 1;
    margin: 30px;
  }
  .burger_3 {
    grid-area: 5 / 1 / 5 / 1;
    margin: 30px;
  }
}

@media (min-width: 768px) and (max-width: 996px) {
  .container {
    width: 768px;
    margin: auto;
  }
  .block1 {
    position: relative;
    bottom: 120px;
    scale: 80%;
  }
  .block1_left_side {
    position: relative;
    left: -80px;
  }
  .block1_right_side {
    position: relative;
    left: 150px;
    scale: 80%;
  }
  .fn_burger {
    position: relative;
  }
  .block2 {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    height: 100%;
    margin-top: 50px;
    grid-gap: 1px;
  }
  .burger_image1 {
    // row start / column start / row end / column end
    grid-area: 1 / 1 / 1 / 1;
  }
  .burger_image2 {
    grid-area: 2 / 1 / 2 / 1;
    margin: 0;
  }
  .burger_image3 {
    grid-area: 3 / 1 / 3 / 1;
    margin: 0;
  }
  .block3 {
    margin-top: 70px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.25fr 1fr 1fr 1fr;
  }
  .always {
    grid-area: 1 / 1 / 1 / 1;
  }
  .choose {
    grid-area: 2 / 1 / 2 / 1;
  }
  .burger_1 {
    grid-area: 3 / 1 / 3 / 1;
    margin: 30px;
  }
  .burger_2 {
    grid-area: 4 / 1 / 4 / 1;
    margin: 30px;
  }
  .burger_3 {
    grid-area: 5 / 1 / 5 / 1;
    margin: 30px;
  }
}

@media (min-width: 996px) and (max-width: 1200px) {
  .container {
    width: 996px;
    margin: auto;
  }
  .header-img {
    img {
      width: 70%;
    }
  }
  .block1_left_side {
    margin-top: -150px;
  }
  .block1_right_side {
  }
  .fn_burger {
    position: relative;
    right: -350px;
    bottom: 100px;
    scale: 90%;
  }
  .block2 {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    height: 100%;
    margin-top: 50px;
    grid-gap: 1px;
  }
  .burger_image1 {
    // row start / column start / row end / column end
    grid-area: 1 / 1 / 1 / 1;
  }
  .burger_image2 {
    grid-area: 2 / 1 / 2 / 1;
    margin: 0;
  }
  .burger_image3 {
    grid-area: 3 / 1 / 3 / 1;
    margin: 0;
  }
  .block3 {
    margin-top: 70px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.25fr 1fr 1fr 1fr;
  }
  .always {
    grid-area: 1 / 1 / 1 / 1;
  }
  .choose {
    grid-area: 2 / 1 / 2 / 1;
  }
  .burger_1 {
    grid-area: 3 / 1 / 3 / 1;
    margin: 30px;
  }
  .burger_2 {
    grid-area: 4 / 1 / 4 / 1;
    margin: 30px;
  }
  .burger_3 {
    grid-area: 5 / 1 / 5 / 1;
    margin: 30px;
  }
  .order_now {
  }
}

@media (min-width: 1201px) and (max-width: 1440px) {
  .container {
    width: 1200px;
    margin: auto;
  }
  .fn_burger {
    // scale: 80%;
  }
  .block2 {
    scale: 90%;
  }
  .block3 {
    scale: 90%;
    margin-top: -70px;
  }
}
@media (min-width: 374px) and (max-width: 564px) {
  .container {
    width: 290px;
    margin: auto;
  }
  .logo {
    scale: 90%;
  }
  nav {
    display: none;
  }
  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    margin-left: -10px;
  }
  .delivery {
    margin-top: 20px;
    grid-area: 2 / 1 / 2 / 1;
  }
  .block1 {
  }
  .burger_text {
    width: 290px;
  }
  .block1_left_side {
    position: relative;
    left: -100px;
    top: -10px;
    scale: 50%;
  }
  .block1_right_side {
    position: relative;
    scale: 52%;
    left: -160px;
    bottom: 210px;
  }
  .background {
    height: 600px;
  }
  .block2 {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    height: 100%;
    margin-top: -270px;
    grid-gap: 1px;
    scale: 50%;
  }
  .burger_image1 {
    // row start / column start / row end / column end
    grid-area: 1 / 1 / 1 / 1;
  }
  .burger_image2 {
    grid-area: 2 / 1 / 2 / 1;
    margin: 20px 0px 20px 0px;
  }
  .burger_image3 {
    grid-area: 3 / 1 / 3 / 1;
    margin: 0;
  }
  .block3 {
    margin-top: -650px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr 1fr 1fr;
    scale: 70%;
  }
  .choose_enjoy {
    font-size: 40px;
  }
  .always {
    grid-area: 1 / 1 / 1 / 1;
  }
  .choose {
    grid-area: 2 / 1 / 2 / 1;
  }
  .burger_1 {
    grid-area: 3 / 1 / 3 / 1;
    margin: 30px;
  }
  .burger_2 {
    grid-area: 4 / 1 / 4 / 1;
    margin: 30px;
  }
  .burger_3 {
    grid-area: 5 / 1 / 5 / 1;
    margin: 30px;
  }
}
