@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 3fr 1fr;
}

.logo {
  margin-left: 50px;
  margin-top: 30px;
  grid-area: 1/1/1/1;
}

.delivery {
  grid-area: 1/2/1/2;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}
.background {
  background-image: url(images/bg.png);
  height: 700px;
  width: 100%;
  position: absolute;
  z-index: -100;
}

nav {
  justify-self: flex-end;
  font-family: "Bebas Neue", cursive;
  grid-area: 2/1/2/span 2;
}
nav a {
  text-decoration: none;
  color: #3d2514;
  font-size: 21px;
  letter-spacing: 6px;
  margin: 0 30px;
}

.header-text {
  grid-area: hd-text;
  margin-top: 150px;
  margin-left: 60px;
}

.header-img img {
  width: 100%;
}

main {
  display: grid;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
}

.block1 {
  display: grid;
  height: 561px;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  grid-template-rows: 1fr;
  margin: 0 auto;
  max-width: 1400px;
}
.block1_left_side {
  position: relative;
  top: 170px;
  left: 50px;
  max-width: 420px;
  height: 250px;
}
.block1_left_side img {
  width: 100%;
}

.block1_text1 {
  color: #3d2514;
  font-family: "Bebas Neue", cursive;
  border: 2px dashed #3d2514;
  font-size: 24px;
  display: inline-block;
  padding: 15px 20px;
  border-radius: 5px;
  left: 60px;
}

.burger {
  font-size: 114px;
  color: #3d2514;
  display: inline-block;
  left: 60px;
  font-family: "Alfa Slab One", cursive;
}

.week {
  font-size: 56px;
  display: inline-block;
  left: 60px;
  color: #3d2514;
  font-family: "Alfa Slab One", cursive;
}

.burger_image1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: span 2;
  display: grid;
  place-items: center;
}

.burger_image2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  display: grid;
  place-items: center;
  margin-bottom: -75px;
}

.burger_image3 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  display: grid;
  place-items: center;
  margin-top: -75px;
}

.block2 {
  display: grid;
  gap: 50px;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  height: 550px;
}

.always {
  grid-area: 1/2/1/2;
  display: grid;
  place-items: center;
}

.block3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80fr 180fr 645fr;
  justify-content: center;
  position: relative;
}
.block3 button {
  color: #3d2514;
  background-color: #ffc045;
  border: none;
  width: 220px;
  height: 50px;
}
.block3 .order_now {
  width: 200px;
  height: 60px;
  color: white;
  background-color: #bf2222;
  border: none;
}
.block3 .burger_1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
  display: grid;
  place-items: center;
  text-align: center;
}

.burer_name {
  color: #3d2514;
  font-family: "Bebas Neue", cursive;
  font-size: 37px;
  margin: 35px 0px;
}

.burger_text {
  color: #3d2514;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  margin: 0px 30px 30px 30px;
}

.choose {
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 2;
  grid-row-end: 2;
  display: grid;
  place-items: center;
  text-align: center;
  padding-left: 180px;
  padding-right: 180px;
  line-height: 2;
}

.choose_enjoy {
  font-family: "Alfa Slab One", cursive;
  font-size: 50px;
  color: #3d2514;
}

.choose_text {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  color: #3d2514;
}

.burger_2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  display: grid;
  place-items: center;
  text-align: center;
}
.burger_2 img {
  width: 342px;
  height: 271px;
}

.burger_3 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  display: grid;
  place-items: center;
  text-align: center;
}

.block4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 30px;
  box-shadow: 10px 10px 0.8em rgb(150, 150, 150), -10px -5px 0.8em rgb(120, 120, 120);
  margin-bottom: 50px;
}

.discover {
  font-family: "Bebas Neue", cursive;
  font-size: 29px;
  grid-area: 1/1/1/1;
  align-items: end;
  color: #3d2514;
  display: grid;
}

.upcoming_events {
  font-size: 42px;
  font-family: "Alfa Slab One", cursive;
  grid-area: 2/1/2/1;
  margin-top: 15px;
  color: #3d2514;
}

.block4_text {
  font-family: "Montserrat", sans-serif;
  grid-area: 3/1/3/1;
  font-size: 21px;
  line-height: 2;
  color: #3d2514;
  width: 90%;
}

.slider_dots {
  grid-area: 4/1/4/1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100px;
  align-items: center;
  justify-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #ffc045;
  border-radius: 5px;
}

.burger_image4 {
  grid-area: 1/2/span 4/2;
  width: 100%;
}

.block5 {
  margin-bottom: 50px;
  margin-top: 20px;
  width: 1400px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.reservation {
  grid-area: 1/1/1/span 2;
  font-family: "Bebas Neue", cursive;
  font-size: 29px;
  color: #3d2514;
}

.book {
  grid-area: 2/1/2/span 2;
  font-size: 50px;
  color: #3d2514;
  font-family: "Alfa Slab One", cursive;
}

.name,
.date,
.people {
  margin-right: -200px;
}

.email,
.time,
.find {
  margin-left: -200px;
}

.form input {
  width: 380px;
  height: 65px;
  padding-left: 20px;
  margin: 20px;
  border-radius: 10px;
  border: 2px solid #bebebe;
}

.find {
  width: 380px;
  height: 65px;
  color: white;
  background-color: #bf2222;
  border: none;
  border-radius: 10px;
}

footer {
  color: white;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  height: 525px;
  margin: auto;
}

.footer_background {
  z-index: -100;
  grid-area: 1/1/span 3/span 2;
}
.footer_background img {
  width: 100%;
}

.footer_logo {
  grid-area: 1/1/1/1;
  display: grid;
  align-self: end;
  margin-left: 40px;
}

.footer_text {
  grid-area: 2/1/2/1;
  display: grid;
  align-self: center;
  width: 70%;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  line-height: 1.3;
  margin-left: 40px;
}

.all_rights_reserved {
  grid-area: 3/1/3/1;
  margin-left: 40px;
  display: grid;
  align-self: center;
  margin-bottom: -50px;
  font-family: "Bebas Neue", cursive;
  font-size: 17px;
}

.address {
  grid-area: 2/2/2/2;
  margin-top: 80px;
  margin-left: 60px;
}

.address_icon {
  width: 31px;
  height: 35px;
  background-image: url(images/location-icon.png);
  margin-left: -50px;
  margin-bottom: -14px;
  background-repeat: no-repeat;
}

.footer_email {
  grid-area: 2/2/2/2;
  margin-left: 60px;
  margin-top: 30px;
}

.email_icon {
  width: 29px;
  height: 23px;
  background-image: url(images/email-icon.png);
  margin-left: -50px;
  margin-bottom: -14px;
  background-repeat: no-repeat;
}

.social_networks {
  grid-area: 3/2/3/2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: end;
  justify-items: end;
  margin-right: -50px;
  margin-bottom: 20px;
}

.instagram {
  width: 100%;
  background-repeat: no-repeat;
  height: 29px;
  grid-area: 1/4/1/4;
  background-image: url(images/instagram-icon.png);
}

.facebook {
  width: 100%;
  height: 29px;
  background-repeat: no-repeat;
  margin-right: -50px;
  grid-area: 1/3/1/3;
  background-image: url(images/facebook-icon.png);
}

.twitter {
  width: 100%;
  background-repeat: no-repeat;
  height: 29px;
  grid-area: 1/3/1/3;
  margin-right: -100px;
  background-image: url(images/twitter-icon.png);
}

.viber {
  width: 100%;
  height: 29px;
  background-repeat: no-repeat;
  grid-area: 1/3/1/3;
  margin-right: -150px;
  background-image: url(images/whatsapp-icon.png);
}

.burger_menu {
  position: absolute;
  right: 50px;
  top: 125px;
  width: 25px;
}
.burger_menu .bar {
  height: 3px;
  background-color: #333;
  visibility: hidden;
}
.burger_menu .bar:nth-child(3) {
  margin-top: 5px;
}
.burger_menu .bar:nth-child(2) {
  margin-top: 5px;
}
.burger_menu .bar:nth-child(1) {
  margin-top: 5px;
}
.burger_menu .bar {
  height: 3px;
  background-color: #333;
  visibility: hidden;
}
.burger_menu .mobile-menu {
  visibility: hidden;
}

@media (min-width: 290px) and (max-width: 374px) {
  .container {
    width: 290px;
    margin: auto;
  }
  .logo {
    scale: 90%;
  }
  nav {
    display: none;
  }
  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    scale: 90%;
    margin-left: -10px;
  }
  .delivery {
    margin-top: 20px;
    grid-area: 2/1/2/1;
  }
  .block1 {
    scale: 97%;
  }
  .burger_text {
    width: 290px;
  }
  .block1_left_side {
    position: relative;
    left: -100px;
    top: -10px;
    scale: 50%;
  }
  .block1_right_side {
    position: relative;
    scale: 52%;
    left: -160px;
    bottom: 210px;
  }
  .background {
    height: 600px;
  }
  .block2 {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    height: 100%;
    margin-top: -300px;
    grid-gap: 1px;
    scale: 40%;
  }
  .burger_image1 {
    grid-area: 1/1/1/1;
  }
  .burger_image2 {
    grid-area: 2/1/2/1;
    margin: 20px 0px 20px 0px;
  }
  .burger_image3 {
    grid-area: 3/1/3/1;
    margin: 0;
  }
  .block3 {
    margin-top: -1030px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr 1fr 1fr;
    scale: 39%;
    margin-bottom: -550px;
  }
  .choose_enjoy {
    font-size: 40px;
  }
  .always {
    grid-area: 1/1/1/1;
  }
  .choose {
    grid-area: 2/1/2/1;
  }
  .burger_1 {
    grid-area: 3/1/3/1;
    margin: 30px;
  }
  .burger_2 {
    grid-area: 4/1/4/1;
    margin: 30px;
  }
  .burger_3 {
    grid-area: 5/1/5/1;
    margin: 30px;
  }
  .block4 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 3fr 0.5fr;
    scale: 35%;
    margin: auto;
    margin-bottom: -300px;
    margin-top: -400px;
  }
  .discover {
    grid-area: 1/1/1/1;
  }
  .upcoming_events {
    grid-area: 2/1/2/1;
    margin-top: 40px;
  }
  .block4_text {
    grid-area: 3/1/3/1;
  }
  .burger_image4 {
    grid-area: 4/1/4/1;
    display: grid;
    justify-content: center;
    scale: 85%;
  }
  .slider_dots {
    grid-area: 5/1/5/1;
    margin-left: 300px;
  }
  .logo {
    scale: 90%;
    position: relative;
    left: -30px;
  }
  nav {
    display: none;
  }
  .block5 {
    margin-left: 205px;
  }
  .block5 .reservation {
    grid-area: 1/1/1/1;
    justify-content: center;
  }
  .block5 .book {
    grid-area: 2/1/2/1;
    justify-content: center;
    text-align: center;
    font-size: 50px;
  }
  .block5 .name {
    grid-area: 3/1/3/1;
    justify-content: center;
  }
  .block5 .email {
    grid-area: 4/1/4/1;
    justify-content: center;
  }
  .block5 .date {
    grid-area: 5/1/5/1;
    justify-content: center;
  }
  .block5 .time {
    grid-area: 6/1/6/1;
    justify-content: center;
  }
  .block5 .people {
    grid-area: 7/1/7/1;
    justify-content: center;
  }
  .block5 .find {
    grid-area: 8/1/8/1;
    justify-content: center;
  }
  .block5 .form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
  .block5 .form input {
    width: 270px;
    height: 65px;
    padding-left: 20px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid #bebebe;
  }
  .block5 .find {
    width: 270px;
    height: 65px;
    color: white;
    background-color: #bf2222;
    border: none;
    border-radius: 10px;
  }
  .name,
  .date,
  .people {
    margin-right: 0px;
  }
  .email,
  .time,
  .find {
    margin-left: 0px;
  }
  .social_networks {
    grid-area: 3/2/3/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: end;
    margin-right: -50px;
    margin-bottom: 150px;
  }
  .instagram {
    grid-area: 1/3/1/3;
  }
  .footer {
    scale: 50%;
    position: absolute;
    margin-left: -110px;
    width: 500px;
    height: 300px;
    margin-bottom: -700px;
    margin-top: -50px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 0.3fr 0.3fr 0.3fr;
  }
  .footer_logo img {
    grid-area: 1/1/1/1;
    margin: 10px;
  }
  .footer_background img {
    height: 350px;
    width: 530px;
  }
  .footer_text {
    grid-area: 2/1/2/1;
    width: 500px;
  }
  .all_rights_reserved {
    grid-area: 4/1/4/1;
    margin-left: 50px;
  }
  .address {
    grid-area: 3/1/3/1;
    margin-top: 0px;
    margin-left: 100px;
  }
  .footer_email {
    grid-area: 4/1/4/1;
    margin-left: 100px;
    margin-top: 0px;
  }
  .social_networks {
    grid-area: 4/1/4/1;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
  }
  .burger_menu .bar {
    height: 3px;
    background-color: #333;
    visibility: visible;
  }
  .burger_menu.active {
    z-index: 11;
    margin-top: 5px;
  }
  .burger_menu.active .bar:nth-child(3) {
    transform: rotate(-45deg);
    margin: -2px;
  }
  .burger_menu.active .bar:nth-child(2) {
    display: none;
  }
  .burger_menu.active .bar:nth-child(1) {
    transform: rotate(45deg);
    margin: -2px;
    top: 50%;
  }
  .burger_menu {
    top: 90px;
  }
  .burger_menu.active .mobile-menu {
    display: grid;
    background-color: #ffc045;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    left: 0;
    top: 0;
    position: fixed;
    align-content: space-evenly;
    justify-content: center;
    justify-items: center;
    z-index: -1;
    visibility: visible;
  }
  .burger_menu.active .mobile-menu a {
    margin: 20px 0px 0px 0px;
    font-size: 30px;
  }
}
@media (min-width: 374px) and (max-width: 564px) {
  .container {
    width: 290px;
    margin: auto;
  }
  .logo {
    scale: 90%;
    position: relative;
    left: -30px;
  }
  nav {
    display: none;
  }
  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: -10px;
  }
  .delivery {
    margin-top: 20px;
    grid-area: 2/1/2/1;
  }
  .burger_text {
    width: 290px;
  }
  .block1_left_side {
    position: relative;
    left: -100px;
    top: -10px;
    scale: 50%;
  }
  .block1_right_side {
    position: relative;
    scale: 52%;
    left: -160px;
    bottom: 210px;
  }
  .background {
    height: 600px;
  }
  .block2 {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    height: 100%;
    margin-top: -270px;
    grid-gap: 1px;
    scale: 50%;
  }
  .burger_image1 {
    grid-area: 1/1/1/1;
  }
  .burger_image2 {
    grid-area: 2/1/2/1;
    margin: 20px 0px 20px 0px;
  }
  .burger_image3 {
    grid-area: 3/1/3/1;
    margin: 0;
  }
  .block3 {
    margin-top: -840px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr 1fr 1fr;
    scale: 52%;
    margin-bottom: -750px;
  }
  .choose_enjoy {
    font-size: 40px;
  }
  .always {
    grid-area: 1/1/1/1;
  }
  .choose {
    grid-area: 2/1/2/1;
  }
  .burger_1 {
    grid-area: 3/1/3/1;
    margin: 30px;
  }
  .burger_2 {
    grid-area: 4/1/4/1;
    margin: 30px;
  }
  .burger_3 {
    grid-area: 5/1/5/1;
    margin: 30px;
  }
  .block4 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 3fr 0.5fr;
    scale: 50%;
    margin: auto;
    margin-bottom: -230px;
  }
  .discover {
    grid-area: 1/1/1/1;
  }
  .upcoming_events {
    grid-area: 2/1/2/1;
    margin-top: 40px;
  }
  .block4_text {
    grid-area: 3/1/3/1;
  }
  .burger_image4 {
    grid-area: 4/1/4/1;
    display: grid;
    justify-content: center;
    scale: 85%;
  }
  .slider_dots {
    grid-area: 5/1/5/1;
    margin-left: 300px;
  }
  .logo {
    scale: 90%;
  }
  nav {
    display: none;
  }
  .block5 {
    margin-left: 193px;
  }
  .block5 .reservation {
    grid-area: 1/1/1/1;
    justify-content: center;
  }
  .block5 .book {
    grid-area: 2/1/2/1;
    justify-content: center;
    text-align: center;
    font-size: 50px;
  }
  .block5 .name {
    grid-area: 3/1/3/1;
    justify-content: center;
  }
  .block5 .email {
    grid-area: 4/1/4/1;
    justify-content: center;
  }
  .block5 .date {
    grid-area: 5/1/5/1;
    justify-content: center;
  }
  .block5 .time {
    grid-area: 6/1/6/1;
    justify-content: center;
  }
  .block5 .people {
    grid-area: 7/1/7/1;
    justify-content: center;
  }
  .block5 .find {
    grid-area: 8/1/8/1;
    justify-content: center;
  }
  .block5 .form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
  .block5 .form input {
    width: 300px;
    height: 65px;
    padding-left: 20px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid #bebebe;
  }
  .block5 .find {
    width: 300px;
    height: 65px;
    color: white;
    background-color: #bf2222;
    border: none;
    border-radius: 10px;
  }
  .name,
  .date,
  .people {
    margin-right: 0px;
  }
  .email,
  .time,
  .find {
    margin-left: 0px;
  }
  .social_networks {
    grid-area: 3/2/3/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: end;
    margin-right: -50px;
    margin-bottom: 150px;
  }
  .instagram {
    grid-area: 1/3/1/3;
  }
  .footer {
    scale: 60%;
    position: absolute;
    margin-left: -110px;
    width: 500px;
    height: 300px;
    margin-bottom: -700px;
    margin-top: -50px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 0.3fr 0.3fr 0.3fr;
  }
  .footer_logo img {
    grid-area: 1/1/1/1;
    margin: 10px;
  }
  .footer_background img {
    height: 350px;
    width: 530px;
  }
  .footer_text {
    grid-area: 2/1/2/1;
    width: 500px;
  }
  .all_rights_reserved {
    grid-area: 4/1/4/1;
    margin-left: 50px;
  }
  .address {
    grid-area: 3/1/3/1;
    margin-top: 0px;
    margin-left: 100px;
  }
  .footer_email {
    grid-area: 4/1/4/1;
    margin-left: 100px;
    margin-top: 0px;
  }
  .social_networks {
    grid-area: 4/1/4/1;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
  }
  .burger_menu .bar {
    height: 3px;
    background-color: #333;
    visibility: visible;
  }
  .burger_menu.active {
    z-index: 11;
    margin-top: 5px;
  }
  .burger_menu.active .bar:nth-child(3) {
    transform: rotate(-45deg);
    margin: -2px;
  }
  .burger_menu.active .bar:nth-child(2) {
    display: none;
  }
  .burger_menu.active .bar:nth-child(1) {
    transform: rotate(45deg);
    margin: -2px;
    top: 50%;
  }
  .burger_menu {
    top: 90px;
  }
  .burger_menu.active .mobile-menu {
    display: grid;
    background-color: #ffc045;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    left: 0;
    top: 0;
    position: fixed;
    align-content: space-evenly;
    justify-content: center;
    justify-items: center;
    z-index: -1;
    visibility: visible;
  }
  .burger_menu.active .mobile-menu a {
    margin: 20px 0px 0px 0px;
    font-size: 30px;
  }
}
@media (min-width: 564px) and (max-width: 768px) {
  .container {
    width: 564px;
    margin: auto;
  }
  nav {
    display: none;
  }
  .delivery {
    position: relative;
    left: -70px;
  }
  .block1_left_side {
    position: relative;
    top: -10px;
    left: 12px;
  }
  .block1_right_side {
    position: relative;
    scale: 80%;
    bottom: 100px;
  }
  .block2 {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    height: 100%;
    margin-top: -50px;
    grid-gap: 1px;
    scale: 77%;
  }
  .burger_image1 {
    grid-area: 1/1/1/1;
  }
  .burger_image2 {
    grid-area: 2/1/2/1;
    margin: 0;
  }
  .burger_image3 {
    grid-area: 3/1/3/1;
    margin: 0;
  }
  .block3 {
    margin-top: -370px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr;
    scale: 77%;
    margin-bottom: -300px;
  }
  .always {
    grid-area: 1/1/1/1;
  }
  .choose {
    grid-area: 2/1/2/1;
  }
  .burger_1 {
    grid-area: 3/1/3/1;
    margin: 30px;
  }
  .burger_2 {
    grid-area: 4/1/4/1;
    margin: 30px;
  }
  .burger_3 {
    grid-area: 5/1/5/1;
    margin: 30px;
  }
  .block4 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 3fr 0.5fr;
    scale: 75%;
    margin: auto;
  }
  .discover {
    grid-area: 1/1/1/1;
  }
  .upcoming_events {
    grid-area: 2/1/2/1;
    margin-top: 40px;
  }
  .block4_text {
    grid-area: 3/1/3/1;
  }
  .burger_image4 {
    grid-area: 4/1/4/1;
    display: grid;
    justify-content: center;
    scale: 85%;
  }
  .slider_dots {
    grid-area: 5/1/5/1;
    margin-left: 300px;
  }
  .block5 {
    margin-left: 100px;
  }
  .block5 .reservation {
    grid-area: 1/1/1/1;
    justify-content: center;
  }
  .block5 .book {
    grid-area: 2/1/2/1;
    justify-content: center;
  }
  .block5 .name {
    grid-area: 3/1/3/1;
    justify-content: center;
  }
  .block5 .email {
    grid-area: 4/1/4/1;
    justify-content: center;
  }
  .block5 .date {
    grid-area: 5/1/5/1;
    justify-content: center;
  }
  .block5 .time {
    grid-area: 6/1/6/1;
    justify-content: center;
  }
  .block5 .people {
    grid-area: 7/1/7/1;
    justify-content: center;
  }
  .block5 .find {
    grid-area: 8/1/8/1;
    justify-content: center;
  }
  .block5 .form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
  .block5 .form input {
    width: 350px;
    height: 65px;
    padding-left: 20px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid #bebebe;
  }
  .block5 .find {
    width: 350px;
    height: 65px;
    color: white;
    background-color: #bf2222;
    border: none;
    border-radius: 10px;
  }
  .name,
  .date,
  .people {
    margin-right: 0px;
  }
  .email,
  .time,
  .find {
    margin-left: 0px;
  }
  .social_networks {
    grid-area: 3/2/3/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: end;
    margin-right: -50px;
    margin-bottom: 150px;
  }
  .instagram {
    grid-area: 1/3/1/3;
  }
  .footer {
    width: 500px;
    height: 300px;
    margin-bottom: -700px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 0.3fr 0.3fr 0.3fr;
  }
  .footer_logo img {
    grid-area: 1/1/1/1;
    margin: 10px;
  }
  .footer_background img {
    height: 350px;
    width: 530px;
  }
  .footer_text {
    grid-area: 2/1/2/1;
    width: 500px;
  }
  .all_rights_reserved {
    grid-area: 4/1/4/1;
    margin-left: 50px;
  }
  .address {
    grid-area: 3/1/3/1;
    margin-top: 0px;
    margin-left: 100px;
  }
  .footer_email {
    grid-area: 4/1/4/1;
    margin-left: 100px;
    margin-top: 0px;
  }
  .social_networks {
    grid-area: 4/1/4/1;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
  }
  .burger_menu .bar {
    height: 3px;
    background-color: #333;
    visibility: visible;
  }
  .burger_menu.active {
    z-index: 11;
    margin-top: 5px;
  }
  .burger_menu.active .bar:nth-child(3) {
    transform: rotate(-45deg);
    margin: -2px;
  }
  .burger_menu.active .bar:nth-child(2) {
    display: none;
  }
  .burger_menu.active .bar:nth-child(1) {
    transform: rotate(45deg);
    margin: -2px;
    top: 50%;
  }
  .burger_menu.active .mobile-menu {
    display: grid;
    background-color: #ffc045;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    left: 0;
    top: 0;
    position: fixed;
    align-content: space-evenly;
    justify-content: center;
    justify-items: center;
    z-index: -1;
    visibility: visible;
  }
  .burger_menu.active .mobile-menu a {
    margin: 20px 0px 0px 0px;
    font-size: 30px;
  }
}
@media (min-width: 768px) and (max-width: 996px) {
  .container {
    width: 768px;
    margin: auto;
  }
  .block1 {
    position: relative;
    bottom: 120px;
    scale: 80%;
  }
  .block1_left_side {
    position: relative;
    left: -80px;
  }
  .block1_right_side {
    position: relative;
    left: 150px;
    scale: 80%;
  }
  .fn_burger {
    position: relative;
  }
  .block2 {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    height: 100%;
    margin-top: 50px;
    grid-gap: 1px;
  }
  .burger_image1 {
    grid-area: 1/1/1/1;
  }
  .burger_image2 {
    grid-area: 2/1/2/1;
    margin: 0;
  }
  .burger_image3 {
    grid-area: 3/1/3/1;
    margin: 0;
  }
  .block3 {
    margin-top: 70px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.25fr 1fr 1fr 1fr;
  }
  .always {
    grid-area: 1/1/1/1;
  }
  .choose {
    grid-area: 2/1/2/1;
  }
  .burger_1 {
    grid-area: 3/1/3/1;
    margin: 30px;
  }
  .burger_2 {
    grid-area: 4/1/4/1;
    margin: 30px;
  }
  .burger_3 {
    grid-area: 5/1/5/1;
    margin: 30px;
  }
  .block4 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 3fr 0.5fr;
  }
  .discover {
    grid-area: 1/1/1/1;
  }
  .upcoming_events {
    grid-area: 2/1/2/1;
    margin-top: 40px;
  }
  .block4_text {
    grid-area: 3/1/3/1;
  }
  .burger_image4 {
    grid-area: 4/1/4/1;
    display: grid;
    justify-content: center;
  }
  .slider_dots {
    grid-area: 5/1/5/1;
    margin-left: 300px;
  }
  .block5 .form input {
    width: 300px;
    height: 65px;
    padding-left: 20px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid #bebebe;
  }
  .block5 .find {
    width: 300px;
    height: 65px;
    color: white;
    background-color: #bf2222;
    border: none;
    border-radius: 10px;
  }
  .name,
  .date,
  .people {
    margin-right: 0;
  }
  .email,
  .time,
  .find {
    margin-left: 0;
  }
  .social_networks {
    grid-area: 3/2/3/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: end;
    margin-right: -50px;
    margin-bottom: 150px;
  }
  .instagram {
    grid-area: 1/3/1/3;
  }
  .footer {
    width: 768px;
    height: 300px;
    margin-bottom: -700px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 0.3fr 0.3fr 0.3fr;
  }
  .footer_logo img {
    grid-area: 1/1/1/1;
    margin: 10px;
  }
  .footer_text {
    grid-area: 2/1/2/1;
    width: 700px;
  }
  .all_rights_reserved {
    grid-area: 4/1/4/1;
    margin-left: 50px;
  }
  .address {
    grid-area: 3/1/3/1;
    margin-top: 0px;
    margin-left: 100px;
  }
  .footer_email {
    grid-area: 4/1/4/1;
    margin-left: 100px;
    margin-top: 0px;
  }
  .social_networks {
    grid-area: 4/1/4/1;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
  }
}
@media (min-width: 996px) and (max-width: 1200px) {
  .container {
    width: 996px;
    margin: auto;
  }
  .header-img img {
    width: 70%;
  }
  .block1_left_side {
    margin-top: -150px;
  }
  .fn_burger {
    position: relative;
    right: -350px;
    bottom: 100px;
    scale: 90%;
  }
  .block2 {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    height: 100%;
    margin-top: 50px;
    grid-gap: 1px;
  }
  .burger_image1 {
    grid-area: 1/1/1/1;
  }
  .burger_image2 {
    grid-area: 2/1/2/1;
    margin: 0;
  }
  .burger_image3 {
    grid-area: 3/1/3/1;
    margin: 0;
  }
  .block3 {
    margin-top: 70px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.25fr 1fr 1fr 1fr;
  }
  .always {
    grid-area: 1/1/1/1;
  }
  .choose {
    grid-area: 2/1/2/1;
  }
  .burger_1 {
    grid-area: 3/1/3/1;
    margin: 30px;
  }
  .burger_2 {
    grid-area: 4/1/4/1;
    margin: 30px;
  }
  .burger_3 {
    grid-area: 5/1/5/1;
    margin: 30px;
  }
  .burger_image4 {
    scale: 90%;
  }
  .block4_text {
    grid-area: 2/1/span 4/1;
    align-items: end;
    display: grid;
    margin-top: 60px;
  }
  .discover {
    align-items: center;
  }
  .upcoming_events {
    grid-area: 1/1/span 2/1;
    align-items: center;
    display: grid;
  }
  .slider_dots {
    grid-area: 4/2/4/2;
    margin-bottom: -90px;
    margin-left: 270px;
  }
  .block5 .form input {
    width: 350px;
    height: 65px;
    padding-left: 20px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid #bebebe;
  }
  .block5 .find {
    width: 350px;
    height: 65px;
    color: white;
    background-color: #bf2222;
    border: none;
    border-radius: 10px;
  }
  .name,
  .date,
  .people {
    margin-right: 0;
  }
  .email,
  .time,
  .find {
    margin-left: 0;
  }
  .social_networks {
    grid-area: 3/2/3/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: end;
    margin-right: -50px;
    margin-bottom: 150px;
  }
  .instagram {
    grid-area: 1/3/1/3;
  }
  .footer {
    width: 900px;
    margin-bottom: -700px;
  }
  .footer_logo img,
  .footer_text,
  .all_rights_reserved,
  .address,
  .footer_email,
  .social_networks {
    margin-top: -150px;
  }
  .all_rights_reserved {
    margin-bottom: 60px;
  }
  .footer_logo img {
    margin-bottom: 70px;
  }
  .footer_email {
    margin-top: 0px;
  }
  .address {
    margin-top: -50px;
  }
  .social_networks {
    margin-right: 50px;
  }
}
@media (min-width: 1201px) and (max-width: 1440px) {
  .container {
    width: 1200px;
    margin: auto;
  }
  .block2 {
    scale: 90%;
  }
  .block3 {
    scale: 90%;
    margin-top: -70px;
  }
  .block4 {
    scale: 90%;
  }
  .burger_image4 {
    margin-top: 100px;
  }
  .block5 {
    margin: auto;
  }
  .social_networks {
    grid-area: 3/2/3/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: end;
    margin-right: -50px;
    margin-bottom: 20px;
  }
  .instagram {
    grid-area: 1/3/1/3;
  }
}/*# sourceMappingURL=style.css.map */